.\[type\:string\] {

    type: string
}

.cwa-dark {

    --tw-bg-opacity: 1;

    background-color: rgb(28 25 23 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;

    color: rgb(245 245 244 / var(--tw-text-opacity))
}
.cwa-dark-blur {

    background-color: rgb(28 25 23 / 0.9);

    --tw-text-opacity: 1;

    color: rgb(245 245 244 / var(--tw-text-opacity));

    --tw-backdrop-blur: blur(4px);

    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);

            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.cwa-section {

    padding: 1rem
}
.cwa-border {

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgb(168 162 158 / var(--tw-border-opacity))
}
